.hr {
  width: 50%;
  border: 1px solid #ffa500;
}

.spacer {
  padding: 10px; 
}

body {
    font-family: sans-serif;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color:#ffffa2
  }
  button {
    padding: 10px 20px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  img {
    width: 300px;
    height: 300px;
    margin: 20px 0;
  }

  .featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#ffffa2
  }

  .featured-product {
    text-align: center;
    margin: 10px;
    color:#ffffa2
  }

  .featured-product img {
    width: 150px;
    height: 150px;
  }
  